In [9]:
# Print a specific timestamp: 14:42:05.000566: 
from datetime import time 
t = time(14, 42, 5, 566)
# if you type in 05 instead of 5 seconds, you will get an error

print("hour =", t.hour)
print("minute =", t.minute)
print("second =", t.second)
print("microsecond =", t.microsecond)

hour = 14
minute = 42
second = 5
microsecond = 566

In [14]:
# Print a specific date and timestamp: 2019/01/28 23:55:59.1023: 
from datetime import datetime 
dt = datetime(2019,1,28,23,55,59,1023)
print("year =", dt.year)
print("month =", dt.month)
print("day =", dt.day)
print("hour =", dt.hour)
print("minute =", dt.minute)
print("second =", dt.second)
print("microsecond =", dt.microsecond)

year = 2019
month = 1
day = 28
hour = 23
minute = 55
second = 59
microsecond = 1023

In [19]:
# Print current datetime:
from datetime import datetime,date
today = datetime.now()
print("current year =",today.year)
print("current month =", today.month)
print("current day =", today.day)

current year = 2023
current month = 7
current day = 4

In [26]:
# Print today's date (current day) and the current year, month, day:
from datetime import datetime

# Date.
date = datetime(2017,1,18)

# Using strftime to only print DAY, MONTH, YEAR. 
t = date.strftime("%d %B %Y")

# Using strftime to only the name of the day.
day = date.strftime("%a")
print(t)
print (day)

18 January 2017
Wed

In [28]:
# Import the pandas library
import pandas as pd

# Set the data range
drange = pd.date_range(start='2008-01-01', end='2008-03-01')

# Create a Pandas DataFrame
dframe = pd.DataFrame()

# Specify the variables
df['Date'] = drange
df['Week_Day'] = pd.to_datetime(dr).weekday
df['Day_name'] = pd.to_datetime(dr).strftime("%A")
df['Month_name'] = pd.to_datetime(dr).strftime("%B")

# View the DataFrame
df

         Date  Week_Day   Day_name Month_name
0  2008-01-01         1    Tuesday    January
1  2008-01-02         2  Wednesday    January
2  2008-01-03         3   Thursday    January
3  2008-01-04         4     Friday    January
4  2008-01-05         5   Saturday    January
..        ...       ...        ...        ...
56 2008-02-26         1    Tuesday   February
57 2008-02-27         2  Wednesday   February
58 2008-02-28         3   Thursday   February
59 2008-02-29         4     Friday   February
60 2008-03-01         5   Saturday      March

[61 rows x 4 columns]